
.component_0{
	top: 0px; left: 0px; bottom: 0px; right: 0px; position: absolute; 
}
.component_1{
	background-color: transparent; top: 0px; left: 0px; width: 736px; height: 654px; z-index: 100; position: absolute; 
}
.component_2{
	background-color: rgba(255,255,255,0.5019607843137255); border-radius: 5px 5px 5px 5px; top: 166px; left: 0px; width: 442px; height: 453px; right: 0px; position: absolute; 
}
.component_3{
	background-color: transparent; border-width: 0 0 1px 0; border-style: solid; border-color: rgba(139,139,139,1); top: 57px; left: 31px; width: 385px; height: 10px; position: absolute; 
}
.component_4{
	top: 131px; left: 390px; width: 32px; height: 32px; position: absolute; 
}
.component_5{
	top: 172px; left: 390px; width: 32px; height: 32px; position: absolute; 
}
.component_6{
	background-color: transparent; top: 22px; left: 0px; height: 30px; right: 0px; position: absolute; 
}
.component_7{
	top: 256px; left: 390px; width: 32px; height: 32px; position: absolute; 
}
.component_8{
	top: 212px; left: 390px; width: 32px; height: 32px; position: absolute; 
}
.component_9{
	background-color: transparent; top: 66px; left: 32px; width: 381px; height: 364px; position: absolute; 
}
.component_10{
	border-radius: 8px 8px 8px 8px; opacity: 0.8; top: 17px; left: 41px; width: 32px; height: 32px; position: absolute; 
}
.component_10:hover{
	border-radius: 8px 8px 8px 8px; opacity: 1; 
}
.component_11{
	top: 300px; left: 390px; width: 32px; height: 32px; position: absolute; 
}
.component_12{
	background-color: transparent; top: 87px; left: 33px; width: 328px; height: 353px; position: absolute; 
}
.component_13{
	background-color: transparent; border-width: 1px 1px 1px 1px; border-style: solid; border-radius: 10px 10px 10px 10px; border-color: rgba(147,147,147,1); top: 346px; left: 498px; width: 190px; height: 55px; position: absolute; 
}
.component_13:hover{
	background-color: rgba(255,255,255,0.30196078431372547); 
}
.component_14{
	top: 10px; left: 10px; width: 32px; height: 32px; position: absolute; 
}
.component_15{
	background-color: transparent; top: 19px; left: 52px; width: 128px; height: 31px; position: absolute; 
}
.component_16{
	background-color: transparent; left: 0px; height: 27px; bottom: 0px; right: 0px; position: absolute; 
}
.component_17{
	background-color: transparent; top: 5px; left: 10.5px; width: 402px; height: 23px; position: absolute; 
}
body{
	0: background-color: rgba(0,0,0,1); top: ; left: ; width: ; height: ; bottom: ; right: ; z-index: ; position: absolute; ; 
}