html.pointerevents.no-touch .transition .fuzzy {
    -webkit-filter: blur(3px); -moz-filter: blur(3px);
    -o-filter: blur(3px); -ms-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.4;
}
html.pointerevents.no-touch .transition .fuzzy:hover,
html.pointerevents.no-touch .silex-runtime.loading .fuzzy{
    -webkit-filter: none; -moz-filter: none;
    -o-filter: none; -ms-filter: none;
    filter: none;
    opacity: 1;
}
html.pointerevents.no-touch .transition .fuzzy{
    -webkit-transition: 20s -webkit-filter linear;
    -moz-transition: 20s -moz-filter linear;
    -o-transition: 2s -o-filter linear;
    transition: all 0.2s ease-in-out;
}
.silex-runtime.loading{
    background-size: 0 !important;
}
.right{
    right: 10px;
    left: auto !important;
    left: initial !important;
}
.bottom{
    bottom: 100px;
    height: auto !important;
    height: initial !important;
}
.element-0{
	position: absolute; cursor: auto; background-image: url('../assets/paris-city-lights.jpg'); background-attachment: fixed; background-color: rgb(0, 2, 59); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;
}
.element-1{
	left: 0px; height: 23px; bottom: 10px; right: 0px; position: absolute; background-color: transparent; background-repeat: repeat;
}
.element-2{
	height: 20px; right: 10px;
left: 10px;
position: absolute;
background-color: transparent;
}
.element-3{
	left: 200px; height: 17px;
right: 200px;
position: absolute;
background-color: transparent;
}
.element-4{
	background-color: transparent; left: 10px;
width: 400px;
height: 20px;
right: ;
z-index: ;
position: absolute;

}
.element-5{
	top: 5px; left: 54px; width: 876px; height: 619px; z-index: 100; position: absolute; background-color: transparent; background-position: 0% 0%; background-repeat: repeat;
}
.element-6{
	border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; top: 66px; left: 183px; width: 474px; height: 500px; right: 0px; position: absolute; background-color: rgb(255, 255, 255); background-position: 0% 0%; background-repeat: repeat;
}
.element-7{
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(139, 139, 139); top: 50px; left: 10px; width: 450px; height: 10px; position: absolute; background-color: transparent;
}
.element-8{
	top: 131px; left: 429px; width: 32px; height: 32px; position: absolute;
}
.element-9{
	top: 172px; left: 429px; width: 32px; height: 32px; position: absolute;
}
.element-10{
	top: 14px; left: 0px; height: 44px; right: 0px; position: absolute; background-color: transparent;
}
.element-11{
	top: 256px; left: 429px; width: 32px; height: 32px; position: absolute;
}
.element-12{
	top: 212px; left: 429px; width: 32px; height: 32px; position: absolute;
}
.element-13{
	top: 65px; left: 27px; width: 425px; height: 422px; position: absolute; background-color: transparent;
}
.element-14{
	height: 28px; width: 69px; top: 386px; left: 76px; position: absolute;
}
.element-15{
	border-radius: 8px 8px 8px 8px; top: 17px; left: 41px; width: 32px; height: 32px; bottom: ; right: ; z-index: ; position: absolute; 
}
.element-16{
	top: 300px; left: 429px; width: 32px; height: 32px; position: absolute;
}
.element-17{
	top: 100px; left: 33px; width: 376px; height: 325px; position: absolute; background-color: transparent;
}
.element-18{
	border: 0px solid rgb(147, 147, 147); border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; top: 442px; left: 283px; width: 190px; height: 55px; position: absolute; background-color: transparent;
}
.element-19{
	top: 12px; left: 147px; width: 32px; height: 32px; bottom: ; right: ; z-index: ; position: absolute; 
}
.element-20{
	background-color: transparent; top: 18px; left: 19px; width: 118px; height: 31px; bottom: ; right: ; z-index: ; position: absolute; 
}
.element-21{
	border: 0px solid rgb(147, 147, 147); border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; top: 442px; left: 1px; width: 190px; height: 55px; position: absolute; background-color: transparent;
}
.element-22{
	top: 18px; left: 53px; width: 84px; height: 31px; position: absolute; background-color: transparent;
}
.element-23{
	height: 32px; width: 32px; top: 12px; left: 10px; position: absolute;
}
.element-24{
	top: 100px; left: 404px; width: 58px; height: 31px; position: absolute; background-color: transparent;
}
.element-25{
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(139, 139, 139); top: 430px; left: 10px; width: 450px; height: 10px; position: absolute; background-color: transparent;
}
.element-26{
	height: 128px; width: 201px; top: 25px; left: 771px; position: absolute; z-index: 200; background-color: transparent;
}
.element-27{
	height: 100px; width: 200px; top: 161px; left: 774px; position: absolute; z-index: 200; background-color: transparent;
}